<style>
    .StripeElement {
        display: block;
        margin: 10px 0 0px 0;
        max-width: 500px;
        padding: 10px 14px;
        font-size: 1em;
        box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
        rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
        border: 0;
        outline: 0;
        border-radius: 4px;
        background: white;
    }
    .StripeElement--focus {
        box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
        rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
        -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
    }
</style>
<script type="text/javascript">
  window.onload = async function () {
    // setup Stripe.js
    // Why and how - read https://stripe.com/docs/js/initializing
    const stripe = Stripe('pk_test_51MUXrmLzcHKkPnpTf4OABSZ1zX9PipalZtRxc3fDJ5laxLuz8KZy3U8Co7AdmMgbL8dGC9RLeAIYfty5WgaOIRwc00Kv874RWY');
    const cardWrapper = document.getElementById('root');
    const form = document.getElementById('payment-form');
    // setup Stripe.js and Elements
    const elements = stripe.elements();
    // setup card Element
    const cardElement = elements.create('card', {
      theme: 'stripe',
      style: {
        base: {
          iconColor: '#666EE8',
          color: '#31325F',
          lineHeight: '40px',
          fontWeight: 600,
          fontSize: '15px',
          '::placeholder': {
            fontSize: '14px'
          }
        }
      }
    });
    cardElement.mount(cardWrapper);
    // handle form submit
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      e.stopImmediatePropagation();

      const formData = new FormData(form);
      const inputData = Object.fromEntries(formData);
      const amount =  <%= @cart.total_price_in_cents %>;

      const newOrderResponse = await fetch("/orders/create", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          ...inputData
        }),
      });
      const orderData = await newOrderResponse.json();
      console.log("newOrderResponse: ", orderData);

      console.log("response: ", data);
     const paymentMethodResponse = await stripe.createPaymentMethod({
        type: 'card',
        card: cardElement,
      });

      console.log("paymentMethod: ", paymentMethodResponse);
      const paymentMethodId = paymentMethodResponse.paymentMethod.id;

      const response = await fetch("/payment_intents", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          amount: amount,
          currency: "usd",
          payment_method_id: paymentMethodId,
          ...inputData
        }),
      });

      const data = await response.json();

      console.log("response: ", data);

      const paymentIntentId = data.id;

      const response1 = await fetch("/confirm", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
         payment_intent_id: paymentIntentId
        })
      });
    });
  }
</script>

<form id='payment-form'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

  <div class="field">
    <label><%= t('.name') %></label>
    <input name="name" required />
  </div>

  <div class="field">
    <label><%= t('.address') %></label>
    <textarea name="address" required></textarea>
  </div>

  <div class="field">
    <label><%= t('.email') %></label>
    <input name="email" required />
  </div>

  <div id="root"></div>

  <div class="actions">
    <button type="submit">
      <%= t('.submit') %>
    </button>
  </div>
</form>
