<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @order.errors.count,
        model: t('activerecord.models.order')) %>.</h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%=raw message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t('.name') %>
    <%= form.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :address, t('.address_html') %>
    <%= form.text_area :address, rows: 3, cols: 40 %>
  </div>

  <div class="field">
    <%= form.label :email, t('.email') %>
    <%= form.text_field :email, size: 40 %>
  </div>

 <div class=".payment-errors"></div>

<form action="order_path" method="post" id="stripe-form">
  <div class="formset">
    <label>Card Number</label>
    <input type="text" size="20" autocomplete="off" class="credit-number" />
  </div>

  <div class="formset">
    <label>Security Code/CVC</label>
    <input type="text" size="4" autocomplete="off" class="credit-scurity" />
  </div>

  <div class="formset">
    <label>Expiration (MM/YYYY)</label>
    <input type="text" size="2" class="card-expiry-month"/>
    <span> / </span>
    <input type="text" size="4" class="card-expiry-year"/>
  </div>

  <button type="submit" class="submit">Submit Payment</button>
</form>

  <div class="actions">
    <%= form.submit t('.submit') %>
  </div>
<% end %>
